[Desktop Entry]
Encoding=UTF-8
Name=Ltucoin
Comment=Ltucoin P2P Cryptocurrency
Comment[fr]=Ltucoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ltucoin, eşten eşe kriptografik sanal para birimi
Exec=ltucoin-qt %u
Terminal=false
Type=Application
Icon=ltucoin128
MimeType=x-scheme-handler/ltucoin;
Categories=Office;Finance;
